form {
    display: inline-block;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    width: 66%;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
}

body{
    background-color: #e2dbc8;
    font-family: 'IBM Plex Sans','Helvetica Neue','Arial',sans-serif;
}

/* Navigation styling */
/* 
.navbar{
    background-color:#755538;
} */

.sidebar{
    background-color:#755538;
}

.banner{
    /* background-color:#755538;
    background-image: url("./Logo.jpg");
    background-repeat: no-repeat;
    background-size: 25% 100%;
    background-position: center center; */
    background-image:url("./Old_School_RuneScape_Wiki_background.jpg");
    background-size: 100% 125%;
    background-repeat: no-repeat;
    background-color: #c0a886;
}

.nav-image{
    height:3rem;
}


/* Search bar functionality */
.search-hover {
    border: 1px solid #ccc;
    background-color: #e2dbc8;
    outline: none;
    background-size: 100%;
    border-radius: 10px;
    height: 2.3rem;
    width:100%;
    transition: all 0.5s;
  }
  /* .search-hover:hover {
    width: 15rem;
    padding-left: 1rem;
  } */


  .search-hover::-webkit-search-cancel-button{
    -webkit-appearance: none;
  }

  .form-label{
    text-align:left;
  }