{% extends "layout.html" %}

{% block title %}
    Grand Exchange Price Tracker
{% endblock %}

{% block body %}
<div class="mx-auto" style="text-align:center;width:66%;">
    <h1>
        Grand Exchange Price Tracker
    </h1>
    <p>
        Welcome to the Grand Exchange Price Tracker! This website lets users track items on the Old School RuneScape Grand Exchange without risking their hard-earned gold. Click the buttons below to log in or register a new account.
    </p>
    <div class="d-flex justify-content-around">
        <a href="/login"><img src="/static/LoginButton.jpg" style="height:4rem"></a>
        <a href="/register"><img src="/static/RegisterButton.jpg" style="height:4rem"></a>
        
    </div>
</div>
{% endblock %}