{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
    {% block success %}{% endblock %}
    <div style="text-align:center;">
        <h2>Log In</h2>
        <form action="/login" method="post">
            <br>
            <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text" class="form-control">
            <br>
            <input autocomplete="off" autofocus id="password" name="password" placeholder="Password" type="password" class="form-control">
            {% block fail %}{% endblock %}
            <br>
            <button class="btn" type="submit"><img class="w-50" src="/static/LoginButton.jpg"></button>
        </form>
    </div>
{% endblock %}